
{% extends "layout.html" %}
{% block body %}

<head> 
<title>Bask</title>

</head>
<body>
</div> <!-- /container -->
<div class="container">

    <div class="jumbotron">
      <h1>Jumbotron heading</h1>
      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>

<ul class="list-group">
	<li class="list-group-item">Item One</li>
	<li class="list-group-item">Item Two</li>
	<li class="list-group-item">Item Three</li>
</ul>

</div> <!-- /container -->
</body>
</html>

{% endblock %}