
{% extends "layout.html" %}
{% block body %}

<head> 
<title>Bask</title>
<script>

</script>

</head>
<body>

<ul class="list-group">
	<li class="list-group-item">Item One</li>
	<li class="list-group-item">Item Two</li>
	<li class="list-group-item">Item Three</li>
</ul>

{% if session.logged_in %}
	<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
		<dl>
			<dt>Date:
			<dd><input type=date name=event_date>

			<dt>Time:
			<dd><input type=time name=event_time>

			<dt>Short Description:
			<dd><textarea name=description rows=5 cols=40></textarea>

			<dt>Cover?</dt>
			<dd><input type=checkbox value="true"></dd>
			<dd>$<input type=number name=cover></dd>

			<dt>Latitude:</dt>
			<dd><textarea name=lat rows=1 cols=40></textarea></dd>

			<dt>Longitude:</dt>
			<dd><textarea name=lng rows=1 cols=40></textarea></dd>

			<dd><input type=submit value=Submit>
		</dl>
	</form>
{% endif %}

<ul class=events class="list-group">
{% for event in events %}
	<li><h3>{{ event.description|safe }}</h3></li>
	<li class="list-group-item">{{ event.event_id }}</li>
	<li class="list-group-item">{{ event.event_date }} at {{ event.event_time }} </li>
	{% if event.cover is defined %}<li class="list-group-item">Cover: ${{ event.cover }}</li>
	{% else %} <li class="list-group-item">No Cover</li> {% endif %}
	{% if event.lat is defined %}<li class="list-group-item">{{ event.lat }}</li>{% endif %}
	{% if event.lng is defined %}<li class="list-group-item">{{ event.lng }}</li>{% endif %}
{% else %}
	<li class="list-group-item"><em>Unbelievable. No events here so far</em>
{% endfor %}
</ul>
<br>

</div> <!-- /container -->
</body>
</html>

{% endblock %}