{% extends "layout.html" %}
{% block body %}

<head>
<title>Bask</title>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

  var map;
  	var description;
	var lat;
	var lng;
	var marker;
	var infowindow;
	var contentString;

  function initialize() {
	var mapCanvas = document.getElementById('map-canvas');
	var mapOptions = {
		center: new google.maps.LatLng(51.0433165,-114.0418018),
		zoom: 14,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	map = new google.maps.Map(mapCanvas, mapOptions);
    infowindow = new google.maps.InfoWindow();

	{% for event in events %}


		description="{{ event.description|safe }}";
		lat={{ event.lat|safe }};
		lng={{ event.lng|safe }};

		contentString = '<h5>' + description + '</h5>' +
		'<p>{{ event.event_date }} at {{ event.event_time }}</p>';

		marker = new google.maps.Marker({
			position: new google.maps.LatLng(lat, lng),
			map: map,
			title: description
		});

		google.maps.event.addListener(marker, 'click', (function(marker, contentString) {
    		return function() {
    		infowindow.setContent(contentString);
    		infowindow.open(map,marker);
    		}
		})(marker, contentString));

	{% endfor %}
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
	  
</div> <!-- /container -->
<div class="container-fluid">
	<div id="map-canvas"></div>	  

	<ul>
		{% for event in events %}
			<li>{{ event.description }} {{ event.event_date }} {{ event.event_time }} {{ event.lat }} {{ event.lng }} </li>
		{% endfor %}
	</ul>
	Hello World  

</div> <!-- /container -->

</body>
</html>

{% endblock %}