{% extends "layout.html" %}
{% block body %}

<head>
<title>Bask</title>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
	var mapCanvas = document.getElementById('map-canvas');
	var mapOptions = {
		center: new google.maps.LatLng(51.0433165,-114.0418018),
		zoom: 12,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
	  
</div> <!-- /container -->
<div class="container-fluid">
	<div id="map-canvas"></div>	  
	  
	Hello World  

</div> <!-- /container -->

</body>
</html>

{% endblock %}