{% extends "layout.html" %}
{% block body %}

<head>
<title>Bask</title>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
	var mapCanvas = document.getElementById('map-canvas');
	var mapOptions = {
		center: new google.maps.LatLng(51.0433165,-114.0418018),
		zoom: 12,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>


<div class="container">

      <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
	  
</div> <!-- /container -->
<div class="container-fluid">
	<div id="map-canvas"></div>	  
	  
	Hello World  

</div> <!-- /container -->

</body>
</html>

{% endblock %}