<!doctype html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title>Bask</title>
</head>

  <div class="header">

    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">Home</a></li>
		<li role="presentation"><a href="/band">Band</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="/contact">Contact</a></li>
		{% if session.logged_in %}
		<li role="presentation"><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
	<img src="{{ url_for('static', filename='logo.png') }}">
    <!-- <h3 class="text-muted">Project name</h3> -->
  </div>
<hr>  
{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}

<div class="container">

      <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
	  
    {% block body %}{% endblock %}
