<!doctype html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title>Bask</title>
</head>

<div class="container">

  <div class="header">

    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </nav>
	<img src="{{ url_for('static', filename='logo.png') }}">
    <!-- <h3 class="text-muted">Project name</h3> -->
  </div>
  
    {% block body %}{% endblock %}
